* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}
/* ----- HEADER ----- */
header {
    width: 70%;
    margin: 0 auto;
    border-bottom: 2px solid #F3BFD3;
}
.logo {
    padding-bottom: 12px;
}
.wrapper_nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    align-items: center;
}
.nav_menu {
    margin: 0 auto;
    padding: 10px;
}
.nav_menu, .nav_list{    
    list-style: none;
    display: flex;
    margin: 0 25px;
}
a {
    color: #000000;
    font-size: 20px;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
}
a:hover {
    text-decoration-color: #F3E4C2;
}
/* ----- MAIN ----- */
.container {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-top: 80px; 
    justify-content: space-evenly;
}
.about {
    font-size: 20px;
    width: 400px;
    height: 400px;
    box-shadow: 5px 5px 5px 0px #d4d4d7;
    border-radius: 50px;
    padding: 15px;
    display: flex;
    align-items: center;
}
.picture {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 20px;
    box-shadow: 5px 5px 5px 0px #d4d4d7;
    border-radius: 50px;
    padding: 15px;
}
.my_picture{
    border-radius: 60px;
}
/* ----- SKILL ----- */
.skills {
    margin-top: 80px;
    padding: 10px;
    margin: 40px auto;
    text-align: center;
}
.skills > p {
    border: 1px solid #F3BFD3;
    box-shadow: 5px 2px 5px 0px #d4d4d7; ;
    border-radius: 20px;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    font-size: 24px;
    font-family: 'Dancing Script', cursive;
}
.soft_hard_container {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
}
.soft_p ,.hard_p {
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}
.hard_list-secundary::before, .soft_list-secundary::before{
    padding: 5px;
    content: "\2022";
    padding-right: 8px;
    color: #d4d4d7;
}
.hard_list-secundary, .soft_list-secundary {
    padding: 10px;
    font-size: 18px;
}
.soft_list, .hard_list {
    list-style: none;
}
.soft_p, .hard_p {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}
/* ----- CONTACT-----*/
footer{
    width: 100%;
    height: 100%;
}
.contact {
    text-align: center;
    margin: 0 auto;
    font-family: 'Dancing Script', cursive;
}
.footer_p-contact  {
    border: 1px solid #F3BFD3;
    box-shadow: 5px 2px 5px 0px #d4d4d7;
    border-radius: 20px;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    font-size: 24px;
}
.footer_p-input {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}
.form_input {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
input[type=email] {
    border-radius: 20px;
    padding: 10px;
    width: 300px;
    text-decoration: none;
    outline: none;
    margin-bottom: 30px;
}
.contact_social{
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid #F3BFD3;
    padding: 20px;
    width: 70%;
    margin: 0 auto;
}
.number {
    font-size: 18px;
}
.social_media {
    display: flex;
    justify-content: space-between;
    width: 20%;
}
i:hover{
    color: #F3E4C2;
}