* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}
/* ----- HEADER ----- */
header {
    width: 70%;
    height: 50%;   
    margin: 0 auto;
    border-bottom: 2px solid #F3BFD3;
}
.logo {
    padding-bottom: 12px;
}
.wrapper_nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    align-items: center;
}
.nav_menu {
    margin: 0 auto;
    padding: 10px;
}
.nav_menu, .nav_list{    
    list-style: none;
    display: flex;
    margin: 0 25px;
}
a {
    color: #000000;
    font-size: 20px;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
}
a:hover {
    text-decoration-color: #F3E4C2;
}
/* ----- MAIN ABOUT ME ----- */
.about_me-p {
    margin-top: 80px;
    padding: 10px;
    margin: 40px auto;
    text-align: center;
}
.about_me-p p {
    /* box-shadow: 5px 2px 5px 0px #d4d4d7; */
    background: #F3E4C2;
    background: -webkit-radial-gradient(center, #F3E4C2, #FFFFFF);
    background: -moz-radial-gradient(center, #F3E4C2, #FFFFFF);
    background: radial-gradient(ellipse at center, #F3E4C2, #FFFFFF);
    border-radius: 20px;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    font-size: 34px;
    font-family: 'Dancing Script', cursive;
}